[bumpversion]
parse = v(?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)((?P<beta_letter>b)(?P<beta_number>\d+)?)?
serialize =
	v{major}.{minor}.{patch}{beta_letter}{beta_number}
	v{major}.{minor}.{patch}{beta_letter}
	v{major}.{minor}.{patch}

[bumpversion:file:pyproject.toml]

[bumpversion:file:src/ocsge_pv/__init__.py]
